
.main {
  margin: 100px auto;
  width: 95%;
  max-width:960px;
  padding: 80px 280px 80px;
  display: block;
}

.devise {
  border: none;
  margin-top: 50px
}

.form{
  width: 100%;
  margin: 70px auto;
  }

.logo-img {
  background-image: image-url("gaku.png");
  background-repeat: no-repeat;
  height: 56px;
  width: 180px;
  background-size: 180px;
}

.welcome{
  width: 100%;
  margin: 30px 0;
  text-align:center;
}

.devise-link {
  text-align: center;
  margin: 16px 0;
}



footer {
  margin-top: auto;
}

@media screen and (max-width: 768px) {
  .main {
    padding: 20px 0;
    margin: 40px 10px 0;
          }
}
